.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #48cae4;
    max-width: 800px;
    margin: 0 auto;
    border: 3px solid black;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: 0px 10px 15px black;
    margin-bottom: 15px;
    width: 100%;
    animation: titulo .6s ease-in;
}
.title{
    font-family: 'Noto Sans JP';
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
    color: #edf6f9;
    animation: titulo .6s ease-in;
    text-shadow: 0px 3px 4px #4895ef,  0px 5px 4px #4361ee, 0px 7px 4px #3f37c9;
}
@keyframes titulo {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
      }
      100% {
        opacity: 1;
        transform: scale(1, 1);
      }
  }